.result {
    background-color: aliceblue;
    color: black;
    max-width: 200px;
    padding: 3rem 5rem;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    border-radius: 15px 50px;
    box-shadow: 10px 5px 3px ;
    font-size: 34;
}

.result_score {
display: flex;
gap: 10px;
justify-content: center;
align-items: center;
}

.score {
    font-size: 50px;
    font-weight: 900;
}

.emoji {
    font-size: 50px;
}

@media (prefers-reduced-motion: no-preference) {
    .emoji{
      animation: App-logo-spin infinite 2s alternate;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(3deg);
    }
  }