.quizContent {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #f4f6f6;
}

.container {
  font-family: 'campaign', 'proxima-nova', 'Helvetica Neue', 'Segoe UI',
    'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  display: flex;
  min-height: 600px;
}

button {
  padding: 1rem 5rem;
  background: #e77b77;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
}
 button:hover {
    box-shadow: 2px 2px 2px #444444;
 }
